body {
  font-family: Arial, "Helvetica Neue", Helvetica, "Lucida Grande", sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #dce0e2;
  background-color: #141415;
}


*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.row:after {
  clear: both;
}

.row:before, .row:after {
  content: " ";
  display: table;
}

@import "components/*"
