.line-sports {
  height: 100%;
  position: relative;
}

.line-sports__container {
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  border-radius 5px 0 0 0;
}

.line-sports__item
  margin: 0 0 10px 0;