.line
  position: relative;
  display: block;
  height: 100%;
  overflow: hidden;

.line__container
  height: 100%;

.line__sport,
.line__main,
.line__coupon
  position relative;
  padding: 0 ($padding/2);
  float: left;
  height: 100%;
  min-height: 100px;

.line__sport
  width: 173px;

.line__main
  width: 788px;
  padding: 0;

.line__coupon
  width: 310px;

.line__additional
  height: $elementHeigth;
  margin: 0;

.line__separator
  height: $gapHeight;



