.line-tournament
  padding: 5px 0 0 0;

.line-tournament__header
  height $elementHeigth;
  line-height $elementHeigth;

  overflow ellipsis

  font-size: $defaultFontSize;
  text-transform: uppercase;

.line-tournament__events
  width: 100%;