.line-sports {
  height: 100%;
  position: relative;
  padding-bottom: ($elementHeigth + $gapHeight);
}

.line-sports__wrapper {
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  border-radius 5px 0 0 0;
}
