.line
  display: block;
  height: 100%;

.line__container
  height: 100%;

.line__sport,
.line__main,
.line__coupon
  padding: 0 ($padding/2);
  float: left;
  height: 100%;
  min-height: 100px;
  background: $background;

.line__sport
  position fixed;
  left: 0;
  width: 173px;

.line__main
  width: 788px;
  height: auto;
  margin: 0 0 0 173px;

.line__coupon
  position fixed;
  right: 0;
  width: 314px;

.line__additional.row
  height: $elementHeigth;
  margin: 0;

.line__separator
  height: $gapHeight;

.line__filters,
.line__filter-events
  float: left;
  height: $elementHeigth;
  line-height: $elementHeigth;
  border-radius: 5px;

.line__filters
  width: 467px;
  background: black;
  padding: 0 7.5px;

.line__filter-events
  width: 175px;
  margin: 0 0 0 5px;
  background: #300d37;
