.sport-bar
  display: block;
  position: relative;
  height: $elementHeigth;
  line-height: $elementHeigth;
  padding: 0 $elementHeigth 0 58px;

  border-radius: 5px 5px 0 0;
  font-size: $largeFontSize;
  font-weight: bold;

  user-select: none;

  box-shadow: inset 0 -1px 0 #26601b;
  background linear-gradient(top, #1d5010,#163810);


.sport-bar_t_soccer
  background linear-gradient(top, #1d5010,#163810);
  box-shadow: inset 0 -1px 0px #26601b;


.sport-bar_t_hockey
  background linear-gradient(top, #080068,#0b024e);
  box-shadow: inset 0 -1px 0px #120380;


.sport-bar_t_basketball {
  background linear-gradient(top, #682300,#4d1d00);
  box-shadow: inset 0 -1px 0px #803000;
}

